<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/44689bb0-4fe5-40f9-b672-292bd48a6cdb/resourceGroups/AlumniProject/providers/Microsoft.Web/sites/alumniproject</ResourceId>
    <ResourceGroup>AlumniProject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://alumniproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e76926c3-b837-4781-8c36-d48a84c286fd</ProjectGuid>
    <PublishUrl>https://alumniproject.scm.azurewebsites.net/</PublishUrl>
    <UserName>$alumniproject</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>